.highlight {
  background-color:#F7F7F9;
  border:1px solid #E1E1E8;
  border-radius:4px;
  margin-bottom:14px;
  padding:9px 14px;
}

.bs-example {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 3px 6px inset;
  border-color:#E5E5E5 #EEEEEE #EEEEEE;
  border-style:solid;
  border-width:1px 0;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 3px 6px inset;
  margin:0 -15px 15px;
  padding:45px 15px 15px;
  position:relative;
}