@-webkit-keyframes footeranim {
  from {
    background-color: $background-color;
    background-color: rgba(255, 255, 255, 0.0);
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  to {
    background-color: $footer-background;
    height: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
  }
}

@keyframes footeranim {
  from {
    background-color: $background-color;
    height: 0px;
    margin-top: 0px;
  }
  to {
    background-color: $footer-background;
    margin-top: 30px;
    height: 30px;
  }
}

/* To prevent footer destruct main menu*/
@media (min-height: 469px) {
  .footer {
    background-color: $footer-background;
    height: $footer-height;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-animation: footeranim 3s; /* Chrome, Safari, Opera */
    animation: myfirst 3s;
  }
}