<template>          
<div class="footer">
        <div class="container">
            <div style="float: left;">
                    <span>
                        &copy; ${footerDate} Inmarsat. <a href="http://www.inmarsat.com/terms-and-conditions/" target="_blank">Terms
                        &amp;
                        Conditions</a></span>
            </div>
            <div style="float: right;">
                <span>
                    <a click.delegate="ScrollToTop()" show.bind="pixelsScrolled >= 100" href="" >Go to Top&nbsp;&nbsp;<i class="icon-uparrow"></i></a>
                </span>

            </div>
        </div>
    </div>
</template>
